@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using FinalProject.Services
@model CustomerViews

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body p-0">
				<div class="table-responsive">
					<table class="table table-list i-table style-1 mb-4 border-0" id="guestTable-all3">
						<thead>
							<tr>
								<th class="bg-none">
									<div class="form-check style-3">
										<input class="form-check-input" type="checkbox" value="" id="checkAll">
									</div>
								</th>
								<th>Guest</th>
								<th>Booking Date</th>
								<th>Check In</th>
								<th>Check Out</th>
								<th>Room</th>
								<th>Status</th>
								<th>Revenue</th>
								<th class="bg-none"></th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model.AllHistory)
							{
								<tr>
									<td>
										<div class="form-check style-3">
											<input class="form-check-input" type="checkbox" value="">
										</div>
									</td>
									<td>
										<div class="media-bx d-flex py-3">
											<img class="me-3 rounded-circle" src="~/images/list/pic-4.jpg" alt="">
											<div>
												<span class="text-primary fs-16 font-w400 text-nowrap">#@item.AccountId</span>
												@foreach(var account in Model.AllAccounts)
												{
													if(account.Id == item.AccountId)
													{
														<h4 class="mb-0 mt-1 fs-15 font-w500 text-nowrap text-nowrap"><a class="text-black" href="page-error-404.html">@account.FullName</a></h4>
														break;
													}
												}
											</div>
										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">@item.BookingDate</h5>
										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">@item.CheckIn</h5>
										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">@item.CheckOut</h5>
										</div>
									</td>
									<td>
										<div>
											<h5 class="fs-15 font-w500 text-nowrap">@item.RoomId</h5>
											@foreach(var room in Model.AllRooms)
											{
												if(room.Id == item.RoomId)
												{
													<span class="fs-14 font-w400 text-nowrap">@room.Name</span>
												}
											}
										</div>
									</td>
									<td><span class="badge badge-xl light badge-success badge-sm">Payed</span></td>
									@foreach(var room in Model.AllRooms)
											{
												if(room.Id == item.RoomId)
												{
													<td><span class="text-primary fs-16 font-w400 text-nowrap">@room.Price</span></td>
												}
											}
									<td>
										<div class="dropdown dropstart">
											<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
												</svg>
											</a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);">Edit</a>
												<a class="dropdown-item" href="javascript:void(0);">Delete</a>
											</div>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>